<div class="appcontainer">
  <!-- <mat-toolbar>
    <span>Dronedata Viewer</span>
    <span class="spacer"></span>
    <a mat-icon-button aria-label="Home" routerLink="/home">
      <mat-icon color="accent">home</mat-icon>
    </a>
    <span class="spacer"></span>

    <a mat-icon-button aria-label="Data Viewer" routerLink="/viewer">
      <mat-icon color="accent">view_in_ar</mat-icon>
    </a>
  </mat-toolbar> -->
  <div id="routerContainer">
    <router-outlet></router-outlet>
  </div>
</div>
