<!-- <canvas (click)="render()" (drag)="render()" id="canvas"></canvas> -->
<div id="flexLayout">
  <div id="menubar">
    <span style="width: 3px"></span>

    <span id="title">Point-☁-Viewer</span>
    <span class="spacer"></span>

    <span class="spacer"></span>
    <button mat-icon-button aria-label="Data Viewer">
      <mat-icon color="accent">view_in_ar</mat-icon>
    </button>

    <span class="spacer"></span>

    <button
      type="button"
      mat-stroked-button
      color="accent"
      (click)="fileInput.click()"
      style="text-overflow: ellipsis"
    >
      Choose File
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
    />

    <button mat-stroked-button color="accent" (click)="loadSampleFile()">
      Load Sample
    </button>
    <button
      mat-icon-button
      aria-label="Data Viewer"
      (click)="onReload()"
      *ngIf="visibleReload"
    >
      <mat-icon color="accent">refresh</mat-icon>
    </button>
  </div>
  <div id="canvasContainer" #canvasContainer>
    <canvas id="canvas" (click)="render()" #canvas> </canvas>
  </div>
  <!-- <div class="viewerContainer">
  
  </div> -->
</div>

<div
  style="
    position: absolute;
    top: 60px;
    left: 3px;
    width: fit-content;
    height: 60px;
  "
>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: stretch;
      align-items: center;
    "
  >
    <span
      style="
        border-radius: 3px;
        background-color: rgb(60, 60, 60);
        color: white;
        display: inline-flex;
        align-items: center;
        padding: 5px;
        min-height: 23px;
      "
      >Point density:
    </span>

    <span style="width: 3px"></span>

    <mat-button-toggle-group
      aria-label="Performance"
      (change)="onVoxelSizeChanged()"
      [(ngModel)]="voxelSize"
    >
      <mat-button-toggle value="1.5">Low</mat-button-toggle>
      <mat-button-toggle value="0.5">Med</mat-button-toggle>
      <mat-button-toggle value="0.05">High</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- <span class="spacer"></span> -->
  </div>
</div>

<a
  id="feedbackButton"
  mat-raised-button
  color="warn"
  href="https://forms.gle/muDS78nZMh6sG5u78"
  target="_blank"
>
  Give feedback
</a>
