* {
  margin: 0;
  padding: 0;
}

.mdc-button {
  text-overflow: clip;
}

span {
  white-space: nowrap;
  text-overflow: clip;
}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

.viewerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#flexLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

#menubar {
  width: 100%;
  height: 50px;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#canvasContainer {
  height: 100%;
  overflow: hidden;
}

#title {
  color: white;
}

.appcontainer {
  height: 100%;
}

.spacer {
  width: 10px;
}

#feedbackButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  button,
  span,
  mat-button-toggle {
    font-size: 12px;
  }
}
